<div class="advert-card card">
  <!-- Bouton de suppression -->
  <button class="delete-btn" (click)="deleteAdvert(advert.id)">✖</button>

  <h4>{{ advert.title }}</h4>
  <p>{{ advert.desc }}</p>
  <span class="status">{{ advert.advertStatus || 'Brouillon' }}</span>

  <p><strong>Type :</strong> {{ advert.advertType }}</p>
  <p><strong>Publié par :</strong> {{ advert.publisher?.firstName }} {{ advert.publisher?.lastName }}</p>

  <div class="applications-section">
    <h5>Personnes ayant postulé:</h5>

    @if (loadingApplications()) {
      <div>Chargement des candidatures...</div>
    }

    @if (!loadingApplications() && applications().length === 0) {
      <div>Aucune candidature.</div>
    }

    <ul>
      @for (app of applications(); track app.id) {
        <li>Email: {{ app.applicant?.email }} - {{ app.applicant?.firstName }} {{ app.applicant?.lastName }}</li>
      } @empty {
        <li>Aucune candidature.</li>
      }
    </ul>

    @if (error()) {
      <div class="error">{{ error() }}</div>
    }
  </div>
</div>
