:host {
  --bright-text: aliceblue;
}

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);

  /* A vibrant background is essential to see the glassmorphism effect. */
  background-image: linear-gradient(45deg, #1d1d1d, #1c142c);
  background-attachment: fixed;
}
