:host {
  --color-text: aliceblue;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  background-color: #252525;
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font-family-sans-serif);
  color: var(--color-text);
}