Serveur/target/
Serveur/!.mvn/wrapper/maven-wrapper.jar
Serveur/!**/src/main/**/target/
Serveur/!**/src/test/**/target/
Serveur/.kotlin
Serveur/data/

### IntelliJ IDEA ###
Serveur/.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
Serveur/.apt_generated
Serveur/.classpath
Serveur/.factorypath
Serveur/.project
Serveur/.settings
Serveur/.springBeans
Serveur/.sts4-cache

### NetBeans ###
Serveur/nbproject/private/
Serveur/nbbuild/
Serveur/dist/
Serveur/nbdist/
Serveur/.nb-gradle/
Serveur/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Obsidian ###
.obsidian

### Serveur ###
Serveur/logs

###### Client ######
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
Client/dist
Client/tmp
Client/out-tsc
Client/bazel-out

# Node
Client/node_modules
Client/npm-debug.log
Client/yarn-error.log

# Miscellaneous
Client/.angular/cache
Client/.sass-cache/
Client/connect.lock
Client/coverage
Client/libpeerconnection.log
Client/testem.log
Client/typings
Client/__screenshots__/

# System files
Client/.DS_Store
Client/Thumbs.db
