<div class="dashboard-container">
  <h2>📊 Mon Dashboard</h2>

  <div class="adverts-section">
    <h3>📢 Mes annonces</h3>

    @if (loading()) {
    <div>Chargement des annonces...</div>
    } @if (!loading() && adverts().length === 0) {
    <div>Aucune annonce disponible.</div>
    }

    <div class="adverts-container">
      @for (advert of adverts(); track [advert.date, advert.publisher]) {
      <app-advert-detailed-card [advert]="advert"></app-advert-detailed-card>
      } @empty {
      <div>Aucune annonce trouvée</div>
      }
    </div>

    @if (errorMessage()) {
    <div style="color: red">{{ errorMessage() }}</div>
    }
  </div>
</div>
