<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <img src="logo.png" alt="LogoEchange" />
      <a href="/home">
        <span>LeBonAngle</span>
      </a>
    </div>

    <div class="add-advert-btn">
      <a href="/add-advert">
        <img src="icons/plus_icon.svg" alt="Add Icon">
        <span>Ajouter une annonce</span>
      </a>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Recherché une annonce" />
      <button><i class="fas fa-search"></i></button>
    </div>

    <div class="nav-sections">

      @if (connected) {
        <a href="/dashboard" class="nav-btn-dashboard">
          <img src="icons/manage_icon.svg" alt="Dashboard Icon" />
        </a>
      }

      <a href="/login" class="dropbtn" onClick={handleUserButton}>
        <img [src]="userIcon" alt="User Icon" />
      </a>
    </div>

    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle">
      <span class="hamburger"></span>
    </label>
  </div>
</nav>
